
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.row:before, .row:after{
	content: "";
	display: table;
}

.row:after{
	clear: both;
}

[class*="col-"]{
	 min-height: 7px;
	 float: left;
	 padding: 12px;
}

.col-1{
	/*(1/16)*100*/
	width: 6.25%;
}

.col-2{
	/*(2/16)*100*/
	width: 12.5%;
}

.col-3{
	/*(3/16)*100*/
	width: 18.75%;
}

.col-4{
	/*(4/16)*100*/
	width: 25%;
}

.col-5{
	/*(5/16)*100*/
	width: 31.25%;
}

.col-6{
	/*(6/16)*100*/
	width: 37.5%;
}

.col-7{
	/*(7/16)*100*/
	width: 43.75%;
}

.col-8{
	/*(8/16)*100*/
	width: 50%;
}

.col-9{
	/*(9/16)*100*/
	width: 56.25%;
}

.col-10{
	/*(10/16)*100*/
	width: 62.5%;
}

.col-11{
	/*(11/16)*100*/
	width: 68.75%;
}

.col-12{
	/*(12/16)*100*/
	width: 75%;
}

.col-13{
	/*(13/16)*100*/
	width: 81.25%;
}

.col-14{
	/*(14/16)*100*/
	width: 87.5%;
}

.col-15{
	/*(15/16)*100*/
	width: 93.75;
}


.col-16{
	width: 100%;
}

.img-responsive{
	max-width: 100%;
	width: 100%;
}